body {
    font-family: "poppins", sans-serif;

}
.nametitle {
    font-weight: 400;
    font-size: 60px;
}
.subtitle {
    font-weight: 200;
    font-size: 20px;
}
.fa{
    padding: 5px;
}
.icon {
    margin-top: 20px;
}